<md-card class="md-card-form" *ngIf="selectedDevice !== null">
  <md-toolbar class="component-toolbar" color="accent">Device Detail</md-toolbar>
  <md-card-content class="md-card-content-form">
    <div>
      <p>{{selectedDevice.name}}</p>
    </div>
    <div>
      <button md-raised-button color="primary" (click)="onClickTest001()">TEST 001</button>
      <button md-raised-button color="primary" (click)="onClickTest002()">TEST 002</button>
    </div>
  </md-card-content>
</md-card>