<div class="grid-container">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-4-24">
    </div>
    <div class="pure-u-1 pure-u-md-16-24" style="padding: 5px;">
      <app-device-detail></app-device-detail>
    </div>
    <div class="pure-u-1 pure-u-md-4-24">
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-4-24">
    </div>
    <div class="pure-u-1 pure-u-md-8-24" style="padding: 5px;">
      <app-device-list></app-device-list>
    </div>
    <div class="pure-u-1 pure-u-md-8-24" style="padding: 5px;">
      <app-add-device-form></app-add-device-form>
    </div>
    <div class="pure-u-1 pure-u-md-4-24">
    </div>
  </div>
</div>