<md-card>

  <md-card-title>
    <span>{{title}}</span>
  </md-card-title>

  <md-card-content>
    <div class="form-error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <md-input required type="text" placeholder="Username" formControlName="username"></md-input>
      <md-input required type="password" placeholder="Password" formControlName="password"></md-input>
      <md-input required type="text" placeholder="Email" formControlName="email"></md-input>
      <md-input required type="text" placeholder="First Name" formControlName="firstName"></md-input>
      <md-input required type="text" placeholder="Last Name" formControlName="lastName"></md-input>
      <br/>
      <button type="submit" md-raised-button color="primary" class="submitBtn" [disabled]="!signUpForm.valid">
          <md-icon class="md-24">send</md-icon>
          <span>Submit</span>
        </button>
    </form>
  </md-card-content>

  <md-card-actions>
    <button md-mini-fab aria-label="Sign In" (click)="onSignIn()">
        <md-icon class="md-24">add</md-icon>
      </button>
  </md-card-actions>

  <md-card-footer>
    <md-progress-bar *ngIf="submitted" mode="indeterminate"></md-progress-bar>
  </md-card-footer>

</md-card>