<md-card class="md-card-form">
  <md-toolbar color="accent" class="component-toolbar">Add/Edit Device</md-toolbar>
  <md-card-content class="md-card-content-form">
    <div class="form-error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</div>
    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
      <md-input required type="text" formControlName="id" readonly="false" class="md-card-input-full" placeholder="Device ID"></md-input>
      <md-input required type="text" formControlName="name" class="md-card-input-full" placeholder="Device Name"></md-input>
      <md-input required type="text" formControlName="subTopic" class="md-card-input-full" placeholder="Sub Topic"></md-input>
      <md-input required type="text" formControlName="pubTopic" class="md-card-input-full" placeholder="Pub Topic"></md-input>
      <md-textarea formControlName="desc" class="md-card-input-full" placeholder="Description"></md-textarea>
      <div style="display: flex;">
        <span class="app-toolbar-filler"></span>
        <button type="submit" md-raised-button color="warn" class="submitBtn" [disabled]="!deviceForm.valid || submitted">
          <md-icon class="md-24">send</md-icon>
          <span>Save</span>
        </button>
      </div>
    </form>
  </md-card-content>
  <md-card-footer>
    <md-progress-bar *ngIf="submitted" mode="indeterminate"></md-progress-bar>
  </md-card-footer>
</md-card>