<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav class="app-sidenav" color="primary">

    <div class="app-sidenav-profile">
      <div style="padding-top: 25px;">
        <img alt="Profile Picture" src="./assets/img/letrong.jpg">
      </div>
      <p>Le Trong</p>
    </div>

    <md-nav-list>
      <a md-list-item (click)="sidenav.toggle()" [routerLink]="['/']">
        <i class="material-icons">dashboard</i>
        <span style="padding-left: 10px;">Dashboard</span>
        <span class="app-toolbar-filler"></span>
        <i class="material-icons">navigate_next</i>
      </a>
      <md-divider></md-divider>
      <a md-list-item (click)="sidenav.toggle()" [routerLink]="['/device']">
        <i class="material-icons">devices_other</i>
        <span style="padding-left: 10px;">Device</span>
        <span class="app-toolbar-filler"></span>
        <i class="material-icons">navigate_next</i>
      </a>
      <md-divider></md-divider>
      <a md-list-item (click)="onSignOut()">
        <i class="material-icons">exit_to_app</i>
        <span style="padding-left: 10px;">Sign Out</span>
        <span class="app-toolbar-filler"></span>
        <i class="material-icons">navigate_next</i>
      </a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>Eden Garden</span>

    <span class="app-toolbar-filler"></span>
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">perm_data_setting</i>
    </button>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-layout>