/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~purecss/build/pure-min.css';
@import '~purecss/build/grids-responsive-min.css';

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: 10px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.grid-container {
  margin: 0px auto;
}

@media screen and (min-width: 35.5em) {
  .grid-container {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .grid-container {
    width: 100%;
  }
}

@media screen and (min-width: 64em) {
  .grid-container {
    width: 100%;
  }
}

@media screen and (min-width: 80em) {
  .grid-container {
    max-width: 80em;
  }
}

.custom-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 90% !important;
  background-repeat: no-repeat;
  background-image: url(./assets/img/bg.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.custom-form md-card {
  text-align: center;
  animation: fadein 1s;
  -o-animation: fadein 1s;
  /* Opera */
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  /*max-width: 85%;*/
  width: 300px;
  min-width: 280px;
  padding-bottom: 5px;
}

.custom-form md-input {
  display: block;
  height: 40px;
  margin-top: 1.25em;
  font-size: 1.05em;
  line-height: 1.75em;
}

.custom-form md-icon {
  height: auto;
}

.custom-form md-card-title {
  color: #9e9e9e;
}

.custom-form md-card-footer {
  width: 100%;
  left: 0;
}

.custom-form md-card-content {
  padding-bottom: 0px;
  margin-bottom: 5px;
}

 .custom-form md-card-actions {
  margin-bottom: 0px;
}

.custom-form .submitBtn {
  width: 100%;
}

.form-error {
  margin: 10px 0px;
  padding-bottom:12px;
  color: #D8000C;
  font-size: 0.8em;
  text-align: justify !important;
}

.form-info {
  margin: 10px 0px;
  padding-bottom:12px;
  color: #5cb85c;
  font-size: 0.8em;
  text-align: justify !important;
}

.app-sidenav {
  min-width: 250px;
  background: #673ab7;
}

.app-sidenav a {
  color: #fff !important;
}

.app-sidenav-profile {
  width: 250px;
  max-width: 100%;
  padding-bottom: 15px;
  background-image: url('./assets/img/office.jpg');
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.app-sidenav-profile p {
  text-align: center;
}

.app-sidenav-profile img {
  display: block;
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.app-sidenav-icon {
  font-size: 2em;
  color: #fff;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.md-card-margin {
  margin: auto 10px;
}

.md-card-form, .md-card-list {
  padding: 0 !important;
}

.md-card-content-form {
  padding: 1.5em !important;
}

.md-card-input-full {
  width: 100% !important;
}

/* Custom style for ng2-dumblist */
.ng2-dumblist-item-text .md-list-text {
  width: 70%;
}

.component-toolbar {
  min-height: 30px;
}

.component-toolbar md-toolbar-row {
  max-height: 35px;
}